
@font-face {
  font-family: 'utfont';
  src: url('DTM-Mono.otf') format('truetype');

  /* unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
  font-weight: normal;
  font-style: normal; */
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #f17287;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-family: utfont;
  font-size: 32px;
  text-align: center;
  z-index: 0;
}

canvas {
  width: 100%;
  height: 20%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

img {
  width: 40vh;
  margin: .6em;
  margin-left: -20vh;
  position: absolute;
  left: 50%;
  top: 16%;
  z-index: 6;
}

#textcontainer {
  width: 60vw;
  display: inline-block;
  position: absolute;
  top:60%;
  left: 50%;
  margin-left: -30vw;
  z-index: 8;

}

#textbox {
  background-color: black;
  text-align: left;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
  border-width: 0.5em;
  border-style: solid;
  height: 25vh;
  word-wrap: break-word;
}
#skiphint {
  visibility: hidden;
  text-align: right;
}

#star {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70vh;
  height: 70vh;
  margin-left: -35vh;
  margin-top: -35vh;
  border-radius: 50%;
  background-color: #fae646;
  z-index: 1;
}